*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
body{
	font-family: 'Inter', sans-serif
}

.header{
	width: 100%;
	max-width: 1920px;
}

@media(min-width: 1920px){
	.header{
		width: 1920px;
		margin: 0 auto;
	}
}



.header__top{
	display: flex;
	height: 840px;
}

.header-left{
	width: 76%;
	background: #1C57C9;
	border-radius: 0 0 50% 0;
	position: relative;
}

.header__container{
	width: 685px;
	margin: 0 auto;
}

.header__menu{
	height: 75px;
	display: flex;
	justify-content: space-between;
	margin: 20px 0 115px 0;
	align-items: center;
}

.header__list{
	display: flex;
}

.header__link{
	margin: 0 40px 0 0;
}

.header__link:last-child{
	margin: 0 0 0 0;
}

.nav__link{
	color: #fff;
	font-size: 15px;

}

.nav__link:hover{
	font-weight: 700;
}

.header__content{
	width: 600px;
	color: #fff;
}

.header__titel{
	font-size: 55px;
	line-height: 72px;
	letter-spacing: -0.02em;
	font-weight: 700;
}

.text_green{
	color: #1ECE7A;
}

.header__text{
	margin: 36px 0 0 0;
	font-size: 20px;
	line-height: 160%;
}

.header__button{
	margin: 64px 0 0 0;
}

.btn{
	height: 44px;
	display: inline-block;
	padding: 0 21.5px;
	color: #fff;
	font-size: 15px;
	border: 1px solid #fff;
	line-height: 44px;
	border-radius: 3px;
	margin-right: 16px;
}

.btn_green{
	background-color: #1ECE7A;
	border: none;
}

.header__dots{
	position: absolute;
	bottom: 0;
	left: 0;
}

.header-right{
	width: 24%;
	position: relative;
}

.header-right__button{
	width: 165px;
	margin: 49px 70px ;
	font-size: 13px;
}

.header-right__btn{
	color: #000;
	font-weight: 700;
}

.btn__before{
	border-right: 1px solid #D4D4D4;
	padding-right: 20px;
	
}

.btn__after{
	margin-left: 20px;
}

.large{
	position: absolute;
	top: 140px;
	right: 120px;
}

.small{
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2
}

.header-buttom{
	display: flex;
	position: relative;

}

.header-buttom__text{
	width: 960px;
	margin: 182px 0 0 119px;
}

.header-buttom__text p{
	font-style: italic;
	font-weight: 500;
	font-size: 20px;
	line-height: 160%;
	letter-spacing: 0.01em;
	color: #606C84;
}

.header-buttom__dots{
	position: absolute;
	right: 0;
	top: -100px;
}

.header-buttom__dots_top{
	margin-bottom: 12px;
}

.container__features{
	max-width: 1200px;
	margin: 0 auto;
}

.features__wrap{
	display: flex;
	justify-content: space-between;
	margin: 125px 0 200px 0;
}

.features__image{
	width: 375px;
	margin: 78px 0 0 0;
}

.features__content{
	width: 660px;
}

.features__image-bg{
	position: relative;
}

.features__image-man{
	position: absolute;
	top: 36px;
	left: 65px;
}

.features__image-text{
	position: absolute;
	background-color: #fff;
	font-size: 13px;
	color: #262B35;
	line-height: 20px;
	box-shadow: 0px 12px 48px rgba(44, 45, 49, 0.16);
	border-radius: 5px;
	padding: 9px 15px;
}

.features__image-text_one{
	width: 200px;
	top: 53px;
	right: -36px;
}

.features__image-text_two{
	width: 200px;
	top: 111px;
	left: -42px;
}

.features__image-text_three{
	width: 210px;
	bottom: 83px;
	left: -5px;
}

.features__image-text_four{
	width: 220px;
	bottom: -66px;
	right: -41px;
}

.titel{
	text-transform: uppercase;
	color: #1C57C9;
	font-weight: bold;
	font-size: 15px;
	line-height: 140%;
	letter-spacing: 0.6em;
}

.features__titel{margin-bottom: 10px;}

.subtitel{
	font-weight: bold;
	font-size: 42px;
	line-height: 140%;
	letter-spacing: -0.02em;
	color: #262B35;
}

.features__subtitel{margin-bottom: 20px;}

.text{
	font-size: 18px;
	line-height: 160%;
	color: #606C84;
}

.features__text{margin-bottom: 50px;}

.features__row{
	display: flex;
	flex-wrap: wrap;
}

.features__item{
	width: 300px;
	min-height: 225px;
	margin-bottom: 36px;
}

.features__item-img{
	width: 100%;
}

.features__item-image{
	width: 55px;
	height: 55px;
	margin-bottom: 35px;
}

.features__item-titel{
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	color: #262B35;
	padding-right: 55px;
}

.features__item-text{
	font-size: 15px;
	line-height: 160%;
	color: #606C84;
	padding-right: 80px;
}

.update{
	width: 100%;
	max-width: 1920px;
	height: 1100px;
}

@media(min-width: 1920px){
	.update{
		width: 1920px;
		margin: 0 auto;
	}
}

.update__wrap{
	display: flex;
}

.update-left{
	width: 48%;
}

.update__titel{
	margin: 20px 0 10px 120px;
}

.update__subtitel{
	margin: 0 0 60px 120px;
	width: 440px;
}

.update__image{
	position: relative;
}

.update__photoone{
	position: absolute;
 	top: 0;
 	left: 0;
}

.update__phototwo{
	position: absolute;
	left: 342px;
	top: 60px;
	z-index: 2

}

.update__photothree{
	position: absolute;
	top: 276px;
	left: 0;
	z-index: 4;
}

.dot__update{
	position: absolute;
	left: 0;
	top: 690px;
	display: flex;
}
.update-left__dot{
	margin-right: 12px;
}

.update-right{
	position: relative;
	width: 52%;
	height: 1100px;
	background: #1C57C9;
	border-radius: 0 0 0 50%;
}

.update-dots_center{
	position: absolute;
	top: 222px;
	left: -85px;
}

.update-right__content{
	width: 500px;
	margin: 75px 0 0 140px;
	color :#fff;
	padding: 30px 0 40px 30px;
}

.update-right__titel{
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 16px;
	position: relative;
	padding-left: 90px;
}

.update-right__titel_monitor:before{
	content: '';
	width: 60px;
	height: 60px;
	background-repeat: no-repeat;
	display: block;
	background-image: url('../img/icons/monitor.png');
	position: absolute;
	top: 0;
	left: 0;
}

.update-right__titel_maintenance:before{
	content: '';
	width: 60px;
	height: 60px;
	background-repeat: no-repeat;
	display: block;
	background-image: url('../img/icons/maintenance.png');
	position: absolute;
	top: 0;
	left: 0;
}

.update-right__titel_repair:before{
	content: '';
	width: 60px;
	height: 60px;
	background-repeat: no-repeat;
	display: block;
	background-image: url('../img/icons/repair.png');
	position: absolute;
	top: 0;
	left: 0;
}

.update-right__titel_replace:before{
	content: '';
	width: 60px;
	height: 60px;
	background-repeat: no-repeat;
	display: block;
	background-image: url('../img/icons/replace.png');
	position: absolute;
	top: 0;
	left: 0;
}

.update-right__text{
	margin-bottom: 50px;
	font-size: 15px;
	line-height: 160%;
	padding-left: 90px;
}

.updete__dot_bottom{
	position: absolute;
	bottom: 0;
	right: 0;
}

.services{
	position: relative;
	z-index: 5;
}

.container{
	width: 1120px;
	margin: 0 auto;
}

.services__top{
	width: 730px;
	margin: 200px auto 0 ;
	text-align: center;

}

.services__titel{
	margin: 0 0 10px 0;


}

.services__subtitel{
	margin-bottom: 20px;
}

.services__circles{
	width: 600px;
	height: 600px;
	margin: 90px auto 0;
	text-align: center;
	position: relative;
	display: flex;
	justify-content: center;
}

.services__circles_one{
	width: 600px;
	height: 600px;
	opacity: 0.3;
	border: 1px solid #1ECE7A;
	border-radius: 50%;
	opacity: 1;

}

.services__circles_two{
	width: 400px;
	height: 400px;
	opacity: 0.6;
	border: 1px solid #1ECE7A;
	border-radius: 50%;
	margin: 100px auto 0;
	opacity: 1;

	
}

.services__circles_three{
	width: 300px;
	height: 300px;
	opacity: 0.6;
	border: 1px solid #1ECE7A;
	border-radius: 50%;
	margin: 50px auto 0;
	opacity: 1;
}

.services__circles__image{
	position: absolute;
	top: 170px;
	left: 120px;
}

.services__circles__logo{
	width: 93px;
	height: 93px;
	background: url('../img/icons/Ellipse 9.png');
	border-radius: 50%;
	position: relative;
	z-index: 8;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 98px auto 0;
	z-index: 10;
}

.serves__link{
	display: inline-block;
	position: absolute;
	font-weight: 700;
	font-size: 15px;
	line-height: 140%;
	text-transform: uppercase;
	color: #1ECE7A;
	height: 42px;
	padding: 0 18px;
	border: 1px solid #1ECE7A;
	border-radius: 100px;
	line-height: 42px;
	z-index: 5;
	background-color: #fff;
}

.serves__link:nth-child(1){
	top: 28px;
	left: 58px;
}

.serves__link:nth-child(2){
	top: 85px;
	right: 6px;
}
.serves__link:nth-child(3){
	top: 98px;
	left: 145px;
}
.serves__link:nth-child(4){
	top: 140px;
	left: 315px;
}
.serves__link:nth-child(5){
	top: 223px;
	left: -58px;
}

.serves__link:nth-child(6){
	top: 375px;
	left: 80px;
}
.serves__link:nth-child(7){
	top: 552px;
	left: 133px;
}
.serves__link:nth-child(8){
	top: 450px;
	left: 332px;
}
.serves__link:nth-child(9){
	top: 386px;
	right: 16px;
}
.serves__link:nth-child(10){
	top: 240px;
	left: 460px;
}

.services__row{
	margin: 120px 0 0 0;
	display: flex;
	flex-wrap: wrap;
}

.services__row a{
	color: #262B35;;
}

.services__column{
	flex: 0 1 33.333%;
}

.services__item{
	width: 360px;
	height: 96px;
	background: #fff;
	box-shadow: 0px 6px 48px rgba(0, 0, 0, 0.1);
	border-radius: 16px;
	margin-bottom: 20px;
	padding: 0 0 0 25px;
	display: flex;
	align-items: center;
}

.services__item-titel{
	font-weight: 600;
	font-size: 18px;
	color: #262B35;
	padding-left: 85px;
	position: relative;
}

.services__item-titel:before{
	content: '';
	width: 55px;
	height: 55px;
	position: absolute;
	top: -20px;
	left: 0;
	display: block;
	
}

.services__item-titel_mobile:before{
	background-image: url('../img/icons/services1.png');
	top: -10px;
}
.services__item-titel_equipment:before{
	background-image: url('../img/icons/services2.png');
}
.services__item-titel_lifecycle:before{
	background-image: url('../img/icons/services3.png');
}
.services__item-titel_troubleshooting:before{
	background-image: url('../img/icons/services4.png');
}
.services__item-titel_energy:before{
	background-image: url('../img/icons/services5.png');
}
.services__item-titel_smart:before{
	background-image: url('../img/icons/services6.png');
}
.services__item-titel_vital:before{
	background-image: url('../img/icons/services7.png');
}
.services__item-titel_smart-alerts:before{
	background-image: url('../img/icons/services8.png');
}
.services__item-titel_preventative:before{
	background-image: url('../img/icons/services9.png');
}

.testimonials{
	position: relative;
	z-index: 5;
}

.gradient{
	position: absolute;
	width: 100%;
	height: 2460px;
	left: 0px;
	top: 3256px;

	background: linear-gradient(180deg, rgba(255, 255, 255, 0) -9.97%, #ECF0F7 100%);
}

.testimonials__titel{
	text-align: center;
	margin: 0 0 15px 0;
	padding-top: 180px;
}

.testimonials__subtitel{
	text-align: center;
	margin: 0 0 110px 0;
}

.slider__item{
	width: 540px;
	min-height: 260px;
	background: #fff;
	box-shadow: 0px 20px 48px rgba(0, 0, 0, 0.06);
	border-radius: 24px;
	padding: 30px 90px 0 30px;
	position: relative;
}

.slider__text{
	font-size: 20px;
	line-height: 160%;
	color: #262B35;
	margin-bottom: 40px;
}

.slider-bottom__name{
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	color: #262B35;
	margin-bottom: 10px;
}

.slider-bottom__profesion{
	font-size: 15px;
	line-height: 160%;
	color: #606C84;
}

.slider__item img{
	position: absolute;
	top: -19px;
	right: -15px;
}

.slick-list {
	overflow: hidden;
}

.slick-track{
	display: flex;
	min-height: 350px;
	align-items: center;
}

.slick-slide{
	margin: 0 31px;
}

.slider{
	position: relative;
}

.slider .slick-arrow{
	position: absolute;
	top: 50%;
	z-index: 10;
	font-size: 0;
	width: 42px;
	height: 42px;
	margin-top: -21px;
}

.slider .slick-arrow.slick-prev{
	left: 0;
	background: url('../img/icons/slider-left.png') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next{
	right: 0;
	background: url('../img/icons/slider-right.png') 0 0 / 100% no-repeat;
}

.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li{
	margin: 0 10px;
}

/* Активная точка */
.slider .slick-dots li.slick-active{
	background-color: #1C57C9;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	font-size: 0;
}
/* Элемент точки */
.slider .slick-dots button{
	font-size: 0;
	width: 12px;
	height: 12px;
	background-color: #606C84;
	border-radius: 50%;
	opacity: 0.2;
}

.contact-row{
	margin: 340px 0 0 0;
	display: flex;
}

.contact__left{
	width: 425px;
	margin-right: 160px;
}

.contact__titel{
	margin: 15px 0 15px 0;
}

.contact__subtitel{
	margin-bottom: 40px;
}

.form__titel{
	font-size: 16px;
	line-height: 19px;
	color: #262B35;
	margin: 16px 0 14px 0;
}

.form__titel:first-child{
	margin: 0 0 14px 0;
}

input{
	width: 420px;
	background: #FFFFFF;
	border: 1px solid #cccccc;
	border-radius: 3px;
	padding: 10px 0 12px 20px;
}

input:focus{
	border: 1px solid yellow;
	border-radius: 3px;
}

select{
	width: 420px;
	background: #FFFFFF;
	border: 1px solid #cccccc;
	border-radius: 3px;
	padding: 10px 0 12px 20px;
	font-weight: 700;
	font-size: 18px;
}

textarea{
	resize: none;
	width: 420px;
	height: 96px;
	background: #FFFFFF;
	border: 1px solid #cccccc;
	border-radius: 3px;
	padding: 10px 0 12px 20px;
}

form button{
	width: 148px;
	padding: 13px 0;
	background-color: #1ECE7A;
	color: #fff;
	border-radius: 3px;
	margin: 36px 0 0 0;
}

.text__bold{
	font-weight: 700;
}

.footer__top{
	margin: 190px 0 95px 0;
	display: flex;

}

.footer__item-logo{
	width: 400px;
	font-size: 20px;
	line-height: 150%;
	color: #262B35;
}

.footer__logo{
	margin-bottom: 45px;
}

.footer__description{
	margin-bottom: 35px;
}

.footer__item{
	width: 240px;
	color: #606C84;
}

.footer__item-titel{
	font-weight: 700;
	font-size: 24px;
	color: #000;
	margin: 15px 0 10px 0;
}

.footer__item p{
	font-size: 20px;
	line-height: 240%;
}

.footer__item p:hover{
	cursor: pointer;
	color: #1C57C9;
	font-weight: 700;
}

.footer-text{
	font-size: 20px;
	color: #606C84;
	padding-bottom: 30px;
	text-align: center;
}

.footer__facebook{
	position: relative;
	padding-left: 45px;
}

.footer__twitter{
	position: relative;
	padding-left: 45px;
}

.footer__instagram{
	position: relative;
	padding-left: 45px;
}

.footer__facebook:before{
	content: '';
	background: url('../img/icons/ico-fb.png') 0 0 no-repeat;
	display: inline-block;
	width: 26px;
	height: 26px;
	position: absolute;
	top: 13px;
	left: 0;
}

.footer__twitter:before{
	content: '';
	background: url('../img/icons/ic-twitter.png') 0 0 no-repeat;
	display: inline-block;
	width: 35px;
	height: 30px;
	position: absolute;
	top: 13px;
	left: 0;
}

.footer__instagram:before{
	content: '';
	background: url('../img/icons/ic-instagram.png') 0 0 no-repeat;
	display: inline-block;
	width: 35px;
	height: 30px;
	position: absolute;
	top: 13px;
	left: 0;
}



